force-app/main/default/flows/ClosedCaseAuto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>alteraCaso</name>
        <label>alteraCaso</label>
        <locationX>1300</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>getDadosCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updCaso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FechamentoPermitido</name>
        <label>FechamentoPermitido</label>
        <locationX>931</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>vFechamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCriterios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FechamentoPermitidoAssunto</name>
        <label>FechamentoPermitidoAssunto</label>
        <locationX>456</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>vFechamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCriterioAssunto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getCriterioEmailAtual</name>
        <label>getCriterioEmailAtual</label>
        <locationX>764</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>emailAtual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailListado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAssunto</name>
        <label>vAssunto</label>
        <locationX>912</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>AssuntoAtual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCriterioAssunto.Valor_Criterio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssuntoIgual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssuntoIgual</name>
        <label>AssuntoIgual</label>
        <locationX>904</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>LoopCriterioAssunto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Buscar Novo Assunto</defaultConnectorLabel>
        <rules>
            <name>Assunto_encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDadosEmail.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AssuntoAtual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechamentoPermitidoAssunto</targetReference>
            </connector>
            <label>Assunto encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>emailListado</name>
        <label>emailListado</label>
        <locationX>753</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>LoopCriterios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naoBloqueia</defaultConnectorLabel>
        <rules>
            <name>Email_Bloqueio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getDadosEmail.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>emailAtual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDadosEmail.BccAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>emailAtual</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDadosEmail.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>emailAtual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechamentoPermitido</targetReference>
            </connector>
            <label>Email Bloqueio</label>
        </rules>
    </decisions>
    <decisions>
        <name>EncerrarCaso</name>
        <label>EncerrarCaso</label>
        <locationX>1076</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFechamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alteraCaso</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processo_Ativo</name>
        <label>Processo Ativo</label>
        <locationX>50</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Processo não</defaultConnectorLabel>
        <rules>
            <name>Processo_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProcessoAtivo.Valor_Criterio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDadosCase</targetReference>
            </connector>
            <label>Processo Sim</label>
        </rules>
    </decisions>
    <interviewLabel>ClosedCaseAuto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClosedCaseAuto</label>
    <loops>
        <name>LoopCriterioAssunto</name>
        <label>LoopCriterioAssunto</label>
        <locationX>456</locationX>
        <locationY>185</locationY>
        <collectionReference>getCriteriosAssunto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>vAssunto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EncerrarCaso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCriterios</name>
        <label>LoopCriterios</label>
        <locationX>473</locationX>
        <locationY>573</locationY>
        <collectionReference>Busca_Criterios_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getCriterioEmailAtual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCriteriosAssunto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Criterios_Email</name>
        <label>Busca Criterios Email</label>
        <locationX>322</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCriterios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_Criterio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Criterio_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCriteriosAssunto</name>
        <label>getCriteriosAssunto</label>
        <locationX>203</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCriterioAssunto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parameter_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processo1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Criterio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assunto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Criterio_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDadosCase</name>
        <label>getDadosCase</label>
        <locationX>56</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDadosEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDadosEmail</name>
        <label>getDadosEmail</label>
        <locationX>185</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Busca_Criterios_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessoAtivo</name>
        <label>GetProcessoAtivo</label>
        <locationX>58</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Ativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processo Ativo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valor_Criterio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Criterio_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updCaso</name>
        <label>updCaso</label>
        <locationX>1287</locationX>
        <locationY>10</locationY>
        <inputReference>getDadosCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProcessoAtivo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssuntoAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFechamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
