force-app/main/default/flows/ClosedCaseAuto_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Passou aqui</description>
        <name>email_de_teste_de_flow</name>
        <label>email de teste de flow</label>
        <locationX>390</locationX>
        <locationY>184</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getDadosCase</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Teste de flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Teste de flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>maxcrh@gmail.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>866</locationX>
        <locationY>553</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Busca_Criterios_Email</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Passou pelo email message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>getDadosEmail.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>maxcrh@gmail.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>alteraCaso</name>
        <label>alteraCaso</label>
        <locationX>1239</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>getDadosCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updCaso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FechamentoPermitido</name>
        <label>FechamentoPermitido</label>
        <locationX>1608</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>vFechamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCriterios</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assunto_decision</name>
        <label>Assunto ?</label>
        <locationX>843</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>Corpo_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assunto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assunto_Listado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assunto_Listado</name>
        <label>Assunto Listado</label>
        <locationX>1054</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_assunto_listado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDadosEmail.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechamentoPermitido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corpo_Email</name>
        <label>Corpo Email?</label>
        <locationX>1056</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>LoopCriterios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_Corpo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CorpoEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corpo_Listado</targetReference>
            </connector>
            <label>Sim Corpo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Corpo_Listado</name>
        <label>Corpo Listado</label>
        <locationX>1273</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Corpo_Listado_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDadosEmail.HtmlBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechamentoPermitido</targetReference>
            </connector>
            <label>Corpo Listado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email</name>
        <label>Email?</label>
        <locationX>688</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Assunto_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tipo_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailListado</targetReference>
            </connector>
            <label>Tipo é email</label>
        </rules>
    </decisions>
    <decisions>
        <name>emailListado</name>
        <label>emailListado</label>
        <locationX>703</locationX>
        <locationY>91</locationY>
        <defaultConnector>
            <targetReference>Assunto_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>naoBloqueia</defaultConnectorLabel>
        <rules>
            <name>Email_Bloqueio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getDadosEmail.FromAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDadosEmail.BccAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDadosEmail.CcAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCriterios.Valor_Criterio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechamentoPermitido</targetReference>
            </connector>
            <label>Email Bloqueio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encerra_Caso</name>
        <label>Encerra Caso</label>
        <locationX>1411</locationX>
        <locationY>730</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Encerra_Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFechamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alteraCaso</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <interviewLabel>ClosedCaseAuto_v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClosedCaseAuto_v2</label>
    <loops>
        <name>LoopCriterios</name>
        <label>LoopCriterios</label>
        <locationX>1608</locationX>
        <locationY>674</locationY>
        <collectionReference>Busca_Criterios_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Encerra_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Criterios_Email</name>
        <label>Busca Criterios Email</label>
        <locationX>956</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCriterios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_Criterio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Criterio_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDadosCase</name>
        <label>getDadosCase</label>
        <locationX>592</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDadosEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDadosEmail</name>
        <label>getDadosEmail</label>
        <locationX>783</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updCaso</name>
        <label>updCaso</label>
        <locationX>1099</locationX>
        <locationY>727</locationY>
        <inputReference>getDadosCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>email_de_teste_de_flow</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssuntoAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAtual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFechamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
