force-app/main/default/flows/Flow_heroes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Hero_Register</name>
        <label>New Hero Register</label>
        <locationX>573</locationX>
        <locationY>209</locationY>
        <actionName>Character__c.New_Hero_register</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_a_Hero</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Character__c.New_Hero_register</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <dynamicChoiceSets>
        <name>Team_Hereos</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Team_Heroes__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamHeroesName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Team_Heroes__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Flow_heroes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_heroes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Hero</name>
        <label>Create a Hero</label>
        <locationX>390</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>New_Hero_Register</targetReference>
        </connector>
        <inputAssignments>
            <field>HP__c</field>
            <value>
                <elementReference>Total_HP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hero_name__c</field>
            <value>
                <elementReference>Hero_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Character_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Power__c</field>
            <value>
                <elementReference>Total_Power</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Heroes__c</field>
            <value>
                <elementReference>Team_Heroes_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Character__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Hero</name>
        <label>New Hero</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Hero</targetReference>
        </connector>
        <fields>
            <name>Character_Name</name>
            <dataType>String</dataType>
            <fieldText>Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hero_Name</name>
            <dataType>String</dataType>
            <fieldText>Hero Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Team_Heroes_Name</name>
            <choiceReferences>TeamHeroesName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team Heroes Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_HP</name>
            <dataType>Number</dataType>
            <fieldText>Total HP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Power</name>
            <dataType>Number</dataType>
            <fieldText>Total_Power</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Hero</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
