force-app/main/default/flows/flow_teste_screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Insere_valor</name>
        <label>Insere valor</label>
        <locationX>554</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>valor_ligacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Busca_registro.Tipo_de_Liga_o__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liga_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insere_valor2</name>
        <label>Insere valor</label>
        <locationX>1469</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>Busca_registro.Tipo_de_Liga_o__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rb1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insere_valor_nulo</name>
        <label>Insere valor nulo</label>
        <locationX>553</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>valor_ligacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liga_o</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Esc1</name>
        <choiceText>Ativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ativa</stringValue>
        </value>
    </choices>
    <choices>
        <description>Receptiva</description>
        <name>Esc2</name>
        <choiceText>Receptiva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receptiva</stringValue>
        </value>
    </choices>
    <constants>
        <name>b</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Não há registro de ligação</stringValue>
        </value>
    </constants>
    <constants>
        <name>escolha</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Ativo&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <name>lig1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ativo</stringValue>
        </value>
    </constants>
    <constants>
        <name>Lig_ativo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ativo</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Insert_or_update</name>
        <label>Insert or update</label>
        <locationX>999</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Insere_valor2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_registro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_registro</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_existe</name>
        <label>Valida existe</label>
        <locationX>169</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Insere_valor_nulo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_registro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_registro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insere_valor</targetReference>
            </connector>
            <label>Existe registro</label>
        </rules>
    </decisions>
    <interviewLabel>flow_teste_screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow_teste_screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_registro</name>
        <label>Criar registro</label>
        <locationX>1103</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Busca_registro</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_id__c</field>
            <value>
                <elementReference>Input_case_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Liga_o__c</field>
            <value>
                <elementReference>rb1</elementReference>
            </value>
        </inputAssignments>
        <object>Ligacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Busca_registro</name>
        <label>Busca registro</label>
        <locationX>176</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ligacao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_registro</name>
        <label>Atualiza registro</label>
        <locationX>1152</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Busca_registro</targetReference>
        </connector>
        <inputReference>Busca_registro</inputReference>
    </recordUpdates>
    <screens>
        <name>Liga_o</name>
        <label>Ligação</label>
        <locationX>726</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_or_update</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;{!valor_ligacao}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>rb1</name>
            <choiceReferences>Esc1</choiceReferences>
            <choiceReferences>Esc2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha o tipo de ligação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Busca_registro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>escolha1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ativo</stringValue>
        </value>
    </variables>
    <variables>
        <name>Input_case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>valor_ligacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
