force-app/main/default/flows/flowTesteContains.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Achou</name>
        <label>Achou</label>
        <locationX>574</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>vAchou</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sim</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existe_registro</name>
        <label>Existe registro</label>
        <locationX>378</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Busca_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_item.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Busca_item.Hero_name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Achou</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <interviewLabel>flowTesteContains {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowTesteContains</label>
    <loops>
        <name>Busca_item</name>
        <label>Busca item</label>
        <locationX>176</locationX>
        <locationY>372</locationY>
        <collectionReference>BuscarTesteContains</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existe_registro</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>BuscarTesteContains</name>
        <label>BuscarTesteContains</label>
        <locationX>176</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Busca_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hero_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hulk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Character__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BuscarTesteContains</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vAchou</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
