force-app/main/default/flows/testeErroGet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Erroporra</name>
        <label>Erroporra</label>
        <locationX>670</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>vFalha</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Erro porra</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decide_se_existe</name>
        <label>decide se existe</label>
        <locationX>484</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>lSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>teste2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Procura_palavra</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>final</targetReference>
            </connector>
            <label>lSim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sucesso_ou_falha</name>
        <label>Sucesso ou falha</label>
        <locationX>480</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Erroporra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro</defaultConnectorLabel>
        <rules>
            <name>DecisionSucesso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pegar_registro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decide_se_existe</targetReference>
            </connector>
            <label>Sucesso</label>
        </rules>
    </decisions>
    <formulas>
        <name>emailCaixaBaixa</name>
        <dataType>String</dataType>
        <expression>lower({!pegar_registro.HtmlBody})</expression>
    </formulas>
    <formulas>
        <name>teste2</name>
        <dataType>String</dataType>
        <expression>lower({!pegar_registro.HtmlBody})</expression>
    </formulas>
    <interviewLabel>testeErroGet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testeErroGet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>pegar_registro</name>
        <label>pegar registro</label>
        <locationX>371</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sucesso_ou_falha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>final</name>
        <label>final</label>
        <locationX>718</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Achou manoooo&lt;span style=&quot;font-family: garamond; font-size: 24px; color: rgb(218, 11, 11);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PContato</name>
        <label>Procura contato</label>
        <locationX>176</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>pegar_registro</targetReference>
        </connector>
        <fields>
            <name>Id_email</name>
            <dataType>String</dataType>
            <fieldText>Id do email message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Procura_palavra</name>
            <dataType>String</dataType>
            <fieldText>Procura palavra</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>PContato</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vFalha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Erro</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSucesso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sucesso</stringValue>
        </value>
    </variables>
</Flow>
