force-app/main/default/flows/testeListaDependente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>mudar_dados</name>
        <label>mudar dados</label>
        <locationX>176</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>Obter.lista1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obter.lista2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
    </assignments>
    <interviewLabel>testeListaDependente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testeListaDependente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter</name>
        <label>Obter</label>
        <locationX>176</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mudar_dados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iddeentrada</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Character_Habilities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd</name>
        <label>upd</label>
        <locationX>484</locationX>
        <locationY>507</locationY>
        <inputReference>Obter</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obter</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Iddeentrada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
