force-app/main/default/flows/Upd_DC_Heroes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_a_list_to_update</name>
        <label>Create a list to update</label>
        <locationX>473</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>newList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_DC_characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_DC_characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_desc_field</name>
        <label>Update desc field</label>
        <locationX>588</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_DC_characters.Descricao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Teste de Flow Trigger</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_list_to_update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Upd_DC_Heroes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upd_DC_Heroes</label>
    <loops>
        <name>Loop_for_DC_characters</name>
        <label>Loop for DC characters</label>
        <locationX>377</locationX>
        <locationY>212</locationY>
        <collectionReference>Get_DC_Heroes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_desc_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DC_Heroes</name>
        <label>Get DC Heroes</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_DC_characters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Heroes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0F1R00000RFI8pUAH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Character__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>378</locationX>
        <locationY>417</locationY>
        <inputReference>newList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_DC_Heroes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Collect_of_DC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Character__c</objectType>
    </variables>
</Flow>
